 $shadow-settings: 1px 1px 1px rgba(0, 0, 0, 0.2);
 $primary-blue: #46A1FF;
 $background-color: #F4F4F4;
 $boxes-color: #52606E;
 $blue: #0C4E68;
 $green: #0bffa7;
 $gray: #f8f8f8;
 $orange: #fc6823;
 $orange-hover: #FFA10C;
 $orange-sidebar: #d35d23;
 $yellow: #FFC300;
 $red: #ff0000;
 $font-gray: #0d285d;
 $open-sans: 'Open Sans', sans-serif;


 @import 'bootstrap_admin';
 